
body{
    font-family: sans-serif;
    color: #3c3939;
    background-color: #f1f1f1;
}
.profile-page{
    width: 400px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgb(0,0,0,0.5);

}
.image-container{
    position: relative;
}
div{
    padding: 10%;
    font-family: sans-serif;
    font-weight: bold;
}
main-container{
    padding: 5%;
    font-family: sans-serif;
    font-weight: bold;
}
.btn{
margin: 20px;
}
fieldset{
    border-color:#3c3939;
}
input{
    border-color:#3c3939;
}
footer{
   text-align: center;
}